{% extends getPartial('page-design') %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}

    {% set listType = isSearch ? "itemsearch" : "categoryitem" %}
    {% set sliderCat = services.category.get(category.id, lang) %}

    {{ component( "ABC::ItemList.Components.CategoryItem" ) }}


{% if not isSearch %}
<div id="nohome">
  <div id="slider">
    {{ sliderCat.details.first.description2 | raw }}
  </div>
</div>
{% endif %}

<div class="container-max">
  <div class="row">
    <main class="col-xs-12 categoriegrid page-content categoryItem cat-id-{{ category.id}}">
      {% if category.details[0].description | trim is not empty %}
        <div id="category-description-container" class="category-description">{{ category.details[0].description | raw }}</div>
      {% endif %}
      <div class="hidden">
        {% include "Ceres::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } %}
        {% include "Ceres::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } %}
      </div>
      <hr>
      {% if isSearch %}
        <h2>
          {% if isTag %}
              {{ trans("Ceres::Template.tagSearchResults", {"searchString": searchString}) }}
          {% else %}
              {{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }}
          {% endif %}
        </h2>
      {% else %}
      <h2>{{ category.details[0].name}}</h2>
      {% endif %}

      <ul class="product-list row grid">
          {% for item in itemList %}
              <li class="col-xs-12 col-sm-6">
                <category-item
                     item-data-ref="{{ item.data | json_data }}"
                     :decimal-count="{{ ceresConfig.item.storeSpecial }}">
                     <template #before-prices>{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                     <template #after-prices>{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>

                     <a href="{{ item.data | itemURL }}" class="small">
                         <i class="fa fa-image"></i>
                         <span>{{ item.data | itemName }}</span>
                     </a>
                 </category-item>
              </li>
          {% endfor %}
      </ul>
    </main>
  </div>
</div>
{% endblock %}

{% block PartialHead %}
{% set canonicalUrl = services.url.getCanonicalURL() %}
    {% if currentPage - 1 > 0 %}
        <link rel="prev" href="{{ canonicalUrl ~ queryString({'page': currentPage - 1}) }}" />
    {% endif %}

    {% if currentPage + 1 <= pageMax %}
        <link rel="next" href="{{ canonicalUrl ~ queryString({'page': currentPage + 1}) }}" />
    {% endif %}

    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}
