{% extends getPartial('page-design') %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}

    {{ component( "ABC::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}
    {{ component( "ABC::ItemList.Components.ItemList") }}
    {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting") }}
    {{ component( "Ceres::ItemList.Components.ItemsPerPage") }}
    {{ component( "Ceres::ItemList.Components.Pagination") }}
    {{ component( "ABC::ItemList.Components.CategoryItem" ) }}

    {% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}
    {% set sliderCat = services.category.get(category.id, lang) %}

{% if category is defined and itemList is not empty %}
<div id="nohome">
  <div id="slider">
    {{ sliderCat.details.first.description2 | raw }}
  </div>
</div>
{% endif %}

<div class="container-max">
  <div class="row">
    <main class="col-xs-12 categoriegrid page-content categoryItem cat-id-{{ category.id}}">
      {% if category.details[0].description | trim is not empty %}
        <div id="category-description-container" class="category-description">{{ category.details[0].description | raw }}</div>
      {% endif %}
      <div class="hidden">
        {% include "Ceres::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } %}
        {% include "Ceres::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } %}
      </div>
      <hr>
      {% if category is not defined and itemList is not empty %}
      <h2>{{ trans("Ceres::Template.itemSearchResults") }} <strong>{{ searchString }}</strong></h2>
      {% else %}
      <h2>{{ category.details[0].name}}</h2>
      {% endif %}

      <ul class="product-list row grid">
          {% for item in itemList %}
              <li class="col-xs-12 col-sm-6">
                <category-item
                    :item-data="{{ item.data | json_encode }}"
                    :decimal-count="{{ decimalCount }}">
                    <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                    <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                </category-item>
              </li>
          {% endfor %}
      </ul>
    </main>
  </div>
</div>
{% endblock %}

{% block PartialHead %}
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>

    {% if currentPage - 1 > 0 %}
      <link rel="prev" href="{{ canonicalUrl ~ queryString({'page': currentPage - 1}) }}" />
    {% endif %}

    {% if currentPage + 1 <= pageMax %}
        <link rel="next" href="{{ canonicalUrl ~ queryString({'page': currentPage + 1}) }}" />
    {% endif %}

    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}
