{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "ABC::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "ABC::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}
{% set companyLogo = config("Ceres.header.company_logo") %}

<header id="page-header">
  <div class="container-max">
    <div class="row">
      <div class="col-xs-12 center shippingFree">
        <p>Versandkostenfrei innerhalb Deutschlands ab 20€ Warenwert</p>
      </div>
      <div class="navbar-brand col-xs-12 col-lg-6 ">
        <a href="{{ homepageURL }}">
          {% if ('http' in companyLogo)
            or('layout/' in companyLogo) %}
            <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid"/>
          {% else %}
            <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid"/>
          {% endif %}
          <p class="brandText">Eine Marke der DEKONEX Europe GmbH</p>
        </a>
      </div>
      <div class="navbar-shop clearfix col-xs-12 col-lg-6">
        <div id="searchBox">
          <item-search template="#vue-item-search"></item-search>
        </div>
        <ul id="controlsList" class="controls-list list-inline">
          <li class="list-inline-item control-user">
            <user-login-handler>
              <a data-toggle="modal">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="hidden-xs-down">{{ trans("Ceres::Template.login") }}</span>
              </a>
              <span class="pipe"></span>
              <a data-toggle="modal">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <span class="hidden-xs-down">{{ trans("Ceres::Template.loginRegister") }}</span>
              </a>
            </user-login-handler>
          </li>
          <li class="list-inline-item control-basket">
            <a v-toggle-basket-preview  href="#" class="toggle-basket-preview">
              Warenkorb
                <span  v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
              Artikel |
              {% if config("Ceres.header.basket_values") != "quantity" %}
                  <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                  <span class="badge" v-else v-cloak v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
              {% endif %}
            </a>

            {% if config("Ceres.basket.preview_type") != "right" %}
              <basket-preview template="#vue-basket-preview-hover" :show-net-prices="{{ showNetPrices | json_encode }}"></basket-preview>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="navWrapperOverlay">
    <div id="navWrapper">
      <div class="container-max">
        {% include "ABC::PageDesign.Partials.Header.Navigation" %}
      </div>
    </div>
  </div>
  <div id="infoWrapper">
	<div class="container-max">
		<div id="navbar-information" class="text-right">
			<span class="isMail"><a href="mailto:verkauf@abc-einkochautomaten.de">E-Mail: verkauf@abc-einkochautomaten.de</a></span>
			<span> | </span>
			<span class="isPhone">

				<a href="tel: +49 7021 / 50 75 14">Tel: +49 7021 / 50 75 14</a>
			</span>
		</div>
	</div>
</div>
</header>

{% if category.linklist == "Y" %}
  {% set initialCategory = {
    id: category.id
  } %}
{% else %}
  {% set initialCategory = category %}
{% endif %}

<mobile-navigation :navigation-tree-data="{{ categories | json_encode }}" :initial-category="{{ initialCategory | json_encode }}" template="#vue-mobile-navigation"></mobile-navigation>
