{{ component( "ABC::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <article class="product-inner themefromItemList">
        <div class="thumb-inner">
        <a :href="itemData | itemURL" class="thumb-title">
            ${ itemData | itemName }
            <span>${ itemData.texts.name2 }</span>
        </a>
            <div class="thumb-image">
                <div class="square-container">
                    <div class="square-inner main-image">
                        <category-image-carousel template="#vue-category-image-carousel"
                                                 :image-urls-data="itemData.images | itemImages(imageUrlAccessor)"
                                                 :alt-text="itemData | itemName"
                                                 :title-text="itemData | itemName"
                                                 :item-url="itemData | itemURL"
                                                 :show-dots="{{ ceresConfig.item.categoryShowDots | json_encode }}"
                                                 :show-nav="{{ ceresConfig.item.categoryShowNav | json_encode }}"
                                                 :enable-carousel="{{ enableCarousel }}"
                                                 ref="categoryImageCarousel">
                        </category-image-carousel>
                    </div>
                </div>
            </div>

            <div class="thumb-content">
              <div class="prices">
                <div class="price">
                    ${ itemData.prices.default.unitPrice.formatted }
                </div>
                  <del class="crossprice">
                    <span v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0 && itemData.prices.rrp.price.value > itemData.prices.default.unitPrice.value">
                      {{ trans("ABC::Template.UVP") }} ${ itemData.prices.rrp.price.formatted }</span>
                  </del>
                  <div class="vat">
                    <p>{{ trans("ABC::Template.mwst") }} ${ itemData.prices.default.vat.value}%<br><a href="/dekonex-europe/versandkosten/">{{ trans("ABC::Template.vkost") }}<br>(<strong>{{ trans("ABC::Template.inDE") }}</strong>)</a></p>
                  </div>
              </div>
              <div class="article-btn">
                <a class="btn" :href="itemData | itemURL" title="zum Artikel"><span class="fa fa-chevron-right"></span> zum Artikel</a>
            </div>
            <div class="basket-btn">
            {{ AddToBasket.printVueComponent( "itemData",true,true) }}            
            </div>
              </div>



        </div>
    </article>
</script>
