{{ component( "ABC::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <article class="product-inner themefromItemList">
        <div class="thumb-inner">
        <a :href="item | itemURL" class="thumb-title">
            ${ item | itemName }
            <span>${ item.texts.name2 }</span>
        </a>
            <div class="thumb-image">
                <div class="square-container">
                    <div class="square-inner main-image">
                    <category-image-carousel template="#vue-category-image-carousel"
                                                :image-urls-data="item.images | itemImages(imageUrlAccessor)"
                                                :alt-text="item | itemName"
                                                :title-text="item | itemName"
                                                :item-url="item | itemURL"
                                                :enable-carousel="{{ enableCarousel }}"
                                                :disable-carousel-on-mobile="disableCarouselOnMobile"
                                                ref="categoryImageCarousel">
                        </category-image-carousel>
                    </div>
                </div>
            </div>

            <!-- STORE SPECIALS -->
            <slot name="store-special">
                <item-store-special v-if="storeSpecial || item.variation.bundleType == 'bundle'"
                                    :store-special="storeSpecial"
                                    :recommended-retail-price="item.prices.rrp"
                                    :variation-retail-price="item.prices.default"
                                    :special-offer-price="item.prices.specialOffer"
                                    :decimal-count="decimalCount"
                                    :bundle-type="item.variation.bundleType"></item-store-special>
            </slot>
            <!-- ./STORE SPECIALS -->

            <div class="thumb-content">
              <div class="prices">
                <div class="price">
                    ${ item.prices.default.unitPrice.formatted }
                </div>
                  <del class="crossprice">
                    <span v-if="item.prices.rrp && item.prices.rrp.price.value > 0 && item.prices.rrp.price.value > item.prices.default.unitPrice.value">
                      {{ trans("ABC::Template.UVP") }} ${ item.prices.rrp.price.formatted }</span>
                  </del>
                  <div class="vat">
                    <p>{{ trans("ABC::Template.mwst") }} ${ item.prices.default.vat.value}%<br><a href="/dekonex-europe/versandkosten/">{{ trans("ABC::Template.vkost") }}<br>(<strong>{{ trans("ABC::Template.inDE") }}</strong>)</a></p>
                  </div>
              </div>
              <div class="article-btn">
                  <a class="btn" :href="item | itemURL" title="zum Artikel"><span class="fa fa-chevron-right"></span> zum Artikel</a>
              </div>
              <div class="basket-btn">
                {{ AddToBasket.printVueComponent( "item", true, true, { ":has-price": "item | hasItemDefaultPrice" }, "urlWithVariationId" ) }}
              </div>
              </div>

        </div>
    </article>
</script>
